@mixin build-browser-prefix($prop, $value) {

  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};

  // Default
  #{$prop}: #{$value};
}

@mixin border-radius($value: 5px) {
  @include build-browser-prefix(border-radius, $value);
  @include build-browser-prefix(background-clip, padding-box);
}

@mixin box-sizing($value: border-box) {
  @include build-browser-prefix(box-sizing, $value);
}

@mixin appearance($value: none) {
  @include build-browser-prefix(appearance, $value);
}

@mixin box-shadow($value) {
  @include build-browser-prefix(box-shadow, $value);
}

@mixin transition($list...) {
  @include build-browser-prefix(transition, $list);
}
@mixin transition-delay($list...) {
  @include build-browser-prefix(transition-delay, $list);
}

@mixin animation($value...) {
  @include build-browser-prefix(animation, $value);
}

@mixin transform($value...) {
  @include build-browser-prefix(transform, $value);
}

@mixin keyframe($name, $prefixes: $default-prefixes) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin gradient($from, $to, $x-start: left, $y-start: top, $x-end: left, $y-end: bottom) {
  background-color: $to;
  background-image: -webkit-linear-gradient($y-start, $from, $to);
  background-image: -webkit-gradient(linear, $x-start $y-start, $x-end $y-end, from($from), to($to)); // sass-lint:disable-line no-duplicate-properties
  background-image: -moz-linear-gradient($y-start, $from, $to); // sass-lint:disable-line no-duplicate-properties
  background-image: -ms-linear-gradient($y-start, $from, $to); // sass-lint:disable-line no-duplicate-properties
  background-image: -o-linear-gradient($y-start, $from, $to); // sass-lint:disable-line no-duplicate-properties
  background-image: linear-gradient($y-start, $from, $to); // sass-lint:disable-line no-duplicate-properties
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #{$from}, endColorstr = #{$to});
}

//Box Layout (Experiment)
@mixin box-layout-display($value, $prefixes: $default-prefixes) {
  @each $prefix in $prefixes {
    display: -#{$prefix}-#{$value};
  }
}

@mixin box-flex($value) {
  @include build-browser-prefix(box-flex, $value);
}

//MISC
@mixin input-placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; } // Mozilla Firefox 4 to 18
  &::-moz-placeholder { @content; } // Mozilla Firefox 19+
  &:-ms-input-placeholder { @content; } // IE 10
}

//helper class
.disable-transition { @include transition(none); }
