// CX input field with floating label
@import 'common';
@import 'css3';
@import 'icons-variables';
@import 'fonts';
@import 'variables';

$left: .85rem;


.cx-agent {

  .cx-input-like-button { position: relative;

    button { @include border-radius(0); @include appearance; @include box-sizing; @include cx-font-regular; border: 1px solid $cx-grey-warm; width: 100%; background-color: $cx-white; text-align: left;

      &.has-error { border-color: $cx-error;
        &:focus { border-color: $cx-blue-link; outline: 1px solid transparent; } //sass-lint:disable-line nesting-depth
      }

      &:focus { border-color: $cx-blue-link; outline: 1px solid transparent;
        &::-webkit-input-placeholder { color: transparent; } //sass-lint:disable-line nesting-depth
        &:-moz-placeholder { color: transparent; } //sass-lint:disable-line nesting-depth FF 4-18
        &::-moz-placeholder { color: transparent; } //sass-lint:disable-line nesting-depth FF 19+
        &:-ms-input-placeholder { color: transparent; } //sass-lint:disable-line nesting-depth IE 10+
      }
      &::-moz-placeholder { @include opacity(1); color: $cx-grey-dark; }
      &:-ms-input-placeholder { color: $cx-grey-medium; }
      &:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px $cx-white inset; }

      //&:disabled { border: 0; }
    }
  }

  input { border: 1px solid $cx-grey-warm;

    &.has-error { border-color: $cx-error; outline: 1px solid transparent;

      &::-webkit-input-placeholder { color: $cx-error; }
      &:-moz-placeholder { color: $cx-error; } // FF 4-18
      &::-moz-placeholder { color: $cx-error; } // FF 19+
      &:-ms-input-placeholder { color: $cx-error; } // IE 10+
    }

    &:focus { outline: 1px solid transparent;
      &::-webkit-input-placeholder { color: transparent; }
      &:-moz-placeholder { color: transparent; } // FF 4-18
      &::-moz-placeholder { color: transparent; } // FF 19+
      &:-ms-input-placeholder { color: transparent; } // IE 10+
    }
    &::-webkit-input-placeholder { color: $cx-grey-dark; }
    &::-moz-placeholder { @include opacity(1); color: $cx-grey-dark; }
    &:-ms-input-placeholder { color: $cx-grey-dark; }
    &:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px $cx-white inset; }
    &::-ms-clear { display: none; width: 0; height: 0; }



    &[type='text'], &[type='password'], &[type='date'] { @include border-radius(0); @include appearance; @include box-sizing; @include cx-font-regular; border: 1px solid $cx-grey-warm; width: 100%; background: $cx-white;
      &:focus { border-color: $cx-blue-link;}

      &.has-error { border: 1px solid $cx-error;
        &:focus { border-color: $cx-blue-link; }
      }

      &:disabled { background-color: $cx-grey-cool; }
    }



    &[type='checkbox'], &[type='radio'] { overflow: hidden;

      // Base for label styling
      + label { min-height: px2rem(20); display: inline-block; color: $cx-blue-link;
        p { margin: 0;}
        a { @include cx-font-bold; }
      }

      &:checked + label { @include cx-font-bold; color: $cx-grey-dark;

        a { color: $cx-blue-link; }
        &::after { opacity: 1; transform: scale(1); }
      }
      
      //&:not(:checked), &:checked { position: absolute; left: -9999px; width: 1px; height: 1px; }

      &:not(:checked) + label, &:checked + label { position: relative; padding-left: px2rem(30); cursor: pointer;

        &::before { @include box-sizing; content: ''; position: absolute; left: 0; top: 0; width: px2rem(20); height: px2rem(20); border: 1px solid $cx-grey-warm; }
        &::after { @include transition(all .2s); position: absolute; }
      }

      // checked mark aspect changes     
      &:not(:checked) + label {
        &::after { opacity: 0; transform: scale(0);}
      }

      // disabled checkbox
      &:disabled, &.disabled {
        &:not(:checked) + label, &:checked + label {
          &::before { background-color: $cx-grey-cool;
            // border: 0;
          }
        }

        &:checked + label {
          &::after { color: $cx-grey-medium; background-color: $cx-grey-dark; }
        }

        + label { color: $cx-grey-dark; cursor: default;

          .info-container { @extend %text-xxs; @include cx-font-bold; position: relative; padding-left: px2rem(25); margin-top: px2rem(10); margin-bottom: 0;
            .icon { font-size: px2rem(18); position: absolute; left: 0; top: 0; }
          }
        }
      }

      &.has-error {
        &:not(:checked) + label {
          &::before {
            border-color: $cx-error;
          }
        }
      }

      // accessibility
      &:checked, &:not(:checked) {
        &:focus + label {
          &::before { border: 1px solid $cx-blue-link; outline: 1px solid transparent; }
        }
      }

    }

    // checkbox
    &[type='checkbox'] {
      &:not(:checked) + label, &:checked + label {
        &::before { @include border-radius(2px); background-color: $cx-white; }
        &::after { @extend %icon; content: '\e608'; left: px2rem(3); top: px2rem(3); color: $cx-blue-link; font-size: px2rem(14); }
      }
    }

    // radio
    &[type='radio'] {
      &:not(:checked) + label, &:checked + label {
        &::before { @include border-radius(50%); background-color: $cx-white; }
        &::after { @include border-radius(50%); content: ''; left: px2rem(5); top: px2rem(5); width: px2rem(10); height: px2rem(10); background-color: $cx-blue-link; outline: 1px solid transparent; }
      }
    }

    // file
    &[type='file'] {
      display: none;
    }
  }

  select { @include border-radius(0); @include appearance; @include box-sizing; @include cx-font-regular; border: 1px solid $cx-grey-warm; width: 100%; background-color: $cx-white; min-width: 100px; height: px2rem(50); max-height: px2rem(50);
    &:focus { border-color: $cx-blue-link; outline: 1px solid transparent; }

    &.has-error { border: 1px solid $cx-error;
      &:focus { border-color: $cx-blue-link; outline: 1px solid transparent; }
    }

    &::-ms-expand { display: none;}
    &:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px $cx-white inset; }

    &:disabled, &.disabled { background-color: $cx-grey-cool; cursor: not-allowed;
      // border: 0;
    }
  }

  textarea {
    @include border-radius(0);
    @include appearance;
    @include box-sizing;
    @include cx-font-regular;
    background: $cx-white;
    resize: none;
    width: 100%;
    border: 1px solid $cx-grey-warm;
    padding: 15px;
    &:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px $cx-white inset; }

    &:focus {
      border-color: $cx-blue-link;
      outline: 1px solid transparent;
    }
  }

  .book-trip-return-standalone-radio {
    input {

      &:focus + label { outline: 1px dotted $cx-green; }

      &[type='radio'] + label { padding-left: 0; margin-right: px2rem(20);
        &::before, &::after { display: none; }
      }
      &:checked + label { border-bottom: 2px solid; }
    }
  }

  .register-page-option-radio {
    label {
      margin-right: px2rem(30);
    }
  }


  // input
  .cx-inputfield { position: relative; margin-bottom: px2rem(10);

    .field-label { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; text-transform: uppercase;

      &.input-filled { cursor: inherit; position: absolute; top: px2rem(7); left: $left; margin: 0; white-space: nowrap; font-size: px2rem(11); color: $cx-grey-medium; clip: inherit; height: auto; overflow: hidden; width: auto; display: block;
        &.readonly { color: $cx-grey-dark; }

      }
    }

    label.input-filled {
      &.has-error {
        color: $cx-error;
      }
    }

    .field-input, .field-button { padding-left: $left; height: px2rem(50); max-height: px2rem(50);
      &.input-filled { padding-top: 1.3rem; padding-bottom: .4rem; }
    }
  }

  .cx-default-select { width: 100%; margin-bottom: px2rem(10);

    .field-container { position: relative; z-index: 0; overflow: hidden; background-color: $cx-white;
      &::before { @include transform(translate(0, -50%)); font-size: 8px; position: absolute; right: 1px; top: 50%; padding: 4rem .6rem; background-color: $cx-grey-light; }
    }

    .default-empty {
      select { padding-top: 0; line-height: px2rem(50); padding: 0 3rem 0 $left; }
      .field-label { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
    }

    .no-label {
      select { padding-top: 0; line-height: px2rem(50); min-width: 0; }
      .field-label { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
    }


    .disabled { background-color: $cx-grey-cool;
      &::before { background-color: $cx-grey-cool; }
      .field-label { color: $cx-grey-dark; }
    }

    select { @include box-sizing; position: relative; background-color: transparent; cursor: pointer; padding: 1.3rem 3rem .4rem $left;
      &:disabled { cursor: not-allowed; }
    }

    .style-short {
      select { line-height: px2rem(40); min-height: 0; height: px2rem(40); }
    }

    .field-label { cursor: inherit; position: absolute; top: px2rem(7); left: $left; text-transform: uppercase; color: $cx-grey-medium; clip: inherit; overflow: hidden; display: block; font-family: $base-font-family, $rest-font-family; font-size: px2rem(11);
      line-height: 1.1875rem;
      height: 1.1875rem;
      width: calc(100% - 3rem);
      white-space: nowrap;
    }

    &.select-airplane-style {

      .field-container {
        &::after { @extend %icon-depart::before; @include transform(translate(0, -50%)); font-size: px2rem(8); position: absolute; left: .8rem; top: 50%; border-right: 1px solid $cx-grey-warm; padding: .6rem .8rem .6rem 0; }
      }
      .field-label { left: 4.2rem;}
      select { padding-left: 4.2rem;}
    }

  }

  .booking-panel-style {

    input {
      &[type='text'], &[type='password'], &[type='date'] { border: 1px solid $cx-white; border-bottom: 1px solid $cx-grey-warm;
        &:focus { border-color: $cx-blue-link; }

        &.has-error { border: 1px solid $cx-error;
          &:focus { border-color: $cx-blue-link; }
        }

        &:disabled { border-color: $cx-grey-cool; border-bottom: 1px solid $cx-grey-warm;}
      }
    }

    .cx-default-select {
      &::before { right: 0; }
    }

    .cx-input-like-button {
      button { border: 1px solid $cx-white; border-bottom: 1px solid $cx-grey-warm; background: $cx-white;

        &.has-error { border: 1px solid $cx-error;
          &:focus { border-color: $cx-blue-link; } //sass-lint:disable-line nesting-depth
        }

        &:focus { border-color: $cx-blue-link;}

      }
    }

    select { border: 1px solid $cx-white; border-bottom: 1px solid $cx-grey-warm;
      &:focus { border-color: $cx-blue-link; }

      &.has-error { border: 1px solid $cx-error;
        &:focus { border-color: $cx-blue-link; }
      }
    }

  }

  .ui-radio {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: px2rem(20);
    height: px2rem(20);

    &::before {
      @include border-radius(50%);
      @include box-sizing;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: px2rem(20);
      height: px2rem(20);
      border: 1px solid $cx-grey-warm;
      background-color: $cx-white;
    }

    &::after {
      @include transition(all .2s);
      @include border-radius(50%);
      content: '';
      left: px2rem(5);
      top: px2rem(5);
      width: px2rem(10);
      height: px2rem(10);
      background-color: $cx-blue-link;
      outline: 1px solid transparent;
      position: absolute;
      opacity: 0;
      transform: scale(0);
    }

  }



  .ui-radio-link {
    color: $cx-grey-dark;

    &:hover, &:focus {
      text-decoration: none;
    }

    &:focus {
      .ui-radio {
        &::before {
          border: 1px solid $cx-blue-link;
          outline: 1px solid transparent;
        }
      }
    }

    &.active {
      cursor: default;

      .ui-radio {
        cursor: default;
        &::after { opacity: 1; transform: scale(1); }
      }
    }
  }

}

input {

  + label {

    .info-container { @extend %text-xxs; @include cx-font-bold; position: relative; padding-left: px2rem(25); margin-top: px2rem(10); margin-bottom: 0; color: $cx-grey-dark; cursor: default;
      .icon { font-size: px2rem(18); position: absolute; left: 0; top: 0; }
    }
  }
}

.error-box {
  background: rgba(165, 29, 53, 0.1);
  color: $cx-grey-dark;
  width: 100%;
  padding: px2rem(6) px2rem(8) px2rem(6) px2rem(40);
  box-sizing: border-box;
  position: relative;
  i {
    position: absolute;
    color: $cx-error;
    text-align: center;
    left: px2rem(8);
    top: px2rem(4);
    font-size: px2rem(20);
  }
}

.edge, .ie11, .ie10 {
  .cx-default-select {
    &.default-empty select, select { padding-left: .7rem; } //sass-lint:disable-line force-element-nesting

    &.select-airplane-style {
      select { padding-left: 4.05rem; } // -0.15rem
    }
  }
}

.firefox {
  .cx-default-select {
    &.default-empty select, select { padding-left: .6rem; } //sass-lint:disable-line force-element-nesting

    &.select-airplane-style {
      select { padding-left: 3.95rem; } // -0.25rem
    }
  }
}

