@mixin cx-font-light {
  font-weight: 300;
  font-family: 'Aktiv Grotesk W01 Light1370681', $rest-font-family;

  &:lang(th-TH) {
    font-family: 'Tahoma', $rest-font-family;
  }

  &:lang(ko-KR) {
    font-family: 'Aktiv Grotesk W01 KR Light', $rest-font-family;
  }

  &:lang(zh-HK), &:lang(zh-TW) {
    font-family: 'Aktiv Grotesk W01 TC Light', $rest-font-family;
  }

  &:lang(zh-CN) {
    font-family: 'Aktiv Grotesk W01 SC Light', $rest-font-family;
  }

  &:lang(ja-JP) {
    font-family: 'Aktiv Grotesk W01 JP Light', $rest-font-family;
  }
}

@mixin cx-font-regular {
  font-family: 'Aktiv Grotesk W01 Regular', $rest-font-family;

  &:lang(th-TH) {
    font-family: 'Tahoma', $rest-font-family;
  }

  &:lang(ko-KR) {
    font-family: 'Aktiv Grotesk W01 KR Regular', $rest-font-family;
  }

  &:lang(zh-HK), &:lang(zh-TW) {
    font-family: 'Aktiv Grotesk W01 TC Regular', $rest-font-family;
  }

  &:lang(zh-CN) {
    font-family: 'Aktiv Grotesk W01 SC Regular', $rest-font-family;
  }

  &:lang(ja-JP) {
    font-family: 'Aktiv Grotesk W01 JP Regular', $rest-font-family;
  }
}

@mixin cx-font-medium {
  font-family: 'Aktiv Grotesk W01 Medium', $rest-font-family;

  &:lang(th-TH) {
    font-family: 'Tahoma', $rest-font-family;
  }

  &:lang(ko-KR) {
    font-family: 'Aktiv Grotesk W01 KR Medium', $rest-font-family;
  }

  &:lang(zh-HK), &:lang(zh-TW) {
    font-family: 'Aktiv Grotesk W01 TC Medium', $rest-font-family;
  }

  &:lang(zh-CN) {
    font-family: 'Aktiv Grotesk W01 SC Medium', $rest-font-family;
  }

  &:lang(ja-JP) {
    font-family: 'Aktiv Grotesk W01 JP Medium', $rest-font-family;
  }
}

@mixin cx-font-bold {
  font-family: 'Aktiv Grotesk W01 Bold1370651', $rest-font-family;

  &:lang(th-TH) {
    font-family: 'Tahoma', $rest-font-family;
  }

  &:lang(ko-KR) {
    font-family: 'Aktiv Grotesk W01 KR Bold', $rest-font-family;
  }

  &:lang(zh-HK), &:lang(zh-TW) {
    font-family: 'Aktiv Grotesk W01 TC Bold', $rest-font-family;
  }

  &:lang(zh-CN) {
    font-family: 'Aktiv Grotesk W01 SC Bold', $rest-font-family;
  }

  &:lang(ja-JP) {
    font-family: 'Aktiv Grotesk W01 JP Bold', $rest-font-family;
  }
}


%text-s { font-size: px2rem(14); line-height: px2rem(19); margin: px2rem(15) auto; }
%text-xs { font-size: px2rem(12); line-height: px2rem(17); margin: px2rem(15) auto; }
%text-xxs { font-size: px2rem(11); line-height: px2rem(16); margin: px2rem(15) auto; }
