@import 'icons-variables';

.cx-agent {


  a {
    .icon, .ibe-icon { display: inline-block; margin: 0 px2rem(3); }
  }


  .icon { @extend %icon; }

  .ibe-icon { @extend %ibe-icon; }


  .icon-flight-detail { @extend %icon-flight-detail; }

  // original icons
  .icon-access-contacts { @extend %icon-access-contacts; }

  .icon-with-text-before { @extend %icon-with-text-before; }

  .icon-with-text-after { @extend %icon-with-text-after; }

  .icon-depart { @extend %icon-depart; }

  .icon-login-profile-signin-circle { @extend %icon-login-profile-signin-circle; }

  .icon-question {
    &::before {
      content: '\e609';
    }
  }

  .icon-warning {
    &::before {
      content: '\e607';
    }
  }

  .icon-tick { @extend %icon-tick; }

  .icon-menu {
    &::before {
      content: '\e60c';
    }
  }

  .icon-arrival {
    &::before {
      content: '\e603';
    }
  }

  .icon-swish {
    &::before {
      content: '\e601';
    }
  }

  .icon-arrow-down { @extend %icon-arrow-down; }

  .icon-arrow-down-after { @extend %icon-arrow-down-after; }

  .icon-arrow-up { @extend %icon-arrow-up; }

  .icon-arrow-up-after { @extend %icon-arrow-up-after; }

  .icon-arrow-forward { @extend %icon-arrow-forward; }

  .icon-arrow-backward {
    &::before {
      content: '\e606';
    }
  }

  .icon-magnify {
    &::before {
      content: '\e60a';
    }
  }

  // .icon-calendar {
  //   &::before {
  //     content: '\e60b';
  //   }
  // }

  .icon-plane { color: $cx-gold;

    &::before {
      content: '\e60d';
    }
  }

  .icon-plus {
    &::before {
      content: '\e60e';
    }
  }

  .icon-bed {
    &::before {
      content: '\e60f';
    }
  }

  .icon-marco-polo {
    &::before {
      content: '\e610';
    }
  }

  .icon-close-circle {
    &::after {
      content: '\e611';
    }
  }

  .icon-search-bar-close-circle {
    &::after {
      content: '\e905';
    }
  }

  .icon-profile {
    &::before {
      content: '\e612';
    }
  }

  .icon-instagram {
    &::before {
      content: '\e613';
    }
  }

  .icon-twitter {
    &::before {
      content: '\e614';
    }
  }

  .icon-facebook {
    &::before {
      content: '\e615';
    }
  }

  .icon-pinterest {
    &::before {
      content: '\e616';
    }
  }

  .icon-youtube {
    &::before {
      content: '\e617';
    }
  }

  .icon-linkedin {
    &::before {
      content: '\e618';
    }
  }

  .icon-weibo {
    &::before {
      content: '\e619';
    }
  }

  .icon-renren {
    &::before {
      content: '\e61a';
    }
  }

  .icon-youku {
    &::before {
      content: '\e61b';
    }
  }

  .icon-alert {
    &::before {
      content: '\e61c';
    }
  }

  .icon-flight-contrary {
    &::before {
      content: '\e61d';
    }
  }

  .icon-settings {
    &::before {
      content: '\e61e';
    }
  }

  .icon-home-app {
    &::before {
      content: '\e61f';
    }
  }

  .icon-flight-status {
    &::before {
      content: '\e620';
    }
  }

  .icon-continue {
    &::before {
      content: '\e621';
    }
  }

  .icon-tick-round {
    &::before {
      content: '\e622';
    }
  }

  .icon-down {
    &::before {
      content: '\e623';
    }
  }

  .icon-up {
    &::before {
      content: '\e624';
    }
  }

  .icon-expand {
    &::before {
      content: '\e625';
    }
  }

  .icon-collapse {
    &::before {
      content: '\e626';
    }
  }

  // .icon-location {
  //   &::before {
  //     content: '\e627';
  //   }
  // }

  .icon-notifly {
    &::before {
      content: '\e628';
    }
  }

  .icon-star-rating {
    &::before {
      content: '\e629';
    }
  }

  .icon-calendar {
    &::before {
      content: '\e62a';
    }
  }

  .icon-card-flip {
    &::before {
      content: '\e62b';
    }
  }

  .icon-share {
    &::before {
      content: '\e62c';
    }
  }

  .icon-expand-contrary {
    &::before {
      content: '\e62d';
    }
  }

  .icon-close-contrary {
    &::before {
      content: '\e62e';
    }
  }

  .icon-alert-contrary {
    &::before {
      content: '\e62f';
    }
  }

  .icon-flight {
    &::before {
      content: '\e630';
    }
  }

  .icon-settings-contrary {
    &::before {
      content: '\e631';
    }
  }

  .icon-flight-status-contrary {
    &::before {
      content: '\e632';
    }
  }

  .icon-continue-contrary {
    &::before {
      content: '\e633';
    }
  }

  .icon-tick-contrary {
    &::before {
      content: '\e634';
    }
  }

  .icon-home-contrary {
    &::before {
      content: '\e635';
    }
  }

  .icon-profile-contrary {
    &::before {
      content: '\e636';
    }
  }

  .icon-information {
    &::before {
      content: '\e637';
    }
  }

  .icon-travel-alert {
    &::before {
      content: '\e638';
    }
  }

  .icon-guides-circle {
    &::before {
      content: '\e639';
    }
  }

  .icon-guides-contrary {
    &::before {
      content: '\e63a';
    }
  }

  .icon-travel-alert-contrary {
    &::before {
      content: '\e63b';
    }
  }

  .icon-globe {
    &::before {
      content: '\e63c';
    }
  }

  .icon-tooltip-contrary {
    &::before {
      content: '\e63d';
    }
  }

  // new : .icon-yellow-info

  .icon-yellow-info { position: relative; display: inline-block; font-size: 1.14rem; vertical-align: middle;
    &::before { @include transform(translate(-50%, -50%)); @include border-radius(50%); content: ''; background-color: $cx-grey-dark; position: absolute; left: 50%; top: 50%; width: 50%; height: 60%; }
    &::after { content: '\e63d'; color: $cx-alert; position: relative; }
  }

  .icon-loading {
    &::before {
      content: '\e63e';
    }
  }

  .icon-guides {
    &::before {
      content: '\e63e';
    }
  }

  .icon-arrow-left-smallspace {
    &::before {
      content: '\e640';
    }
  }

  .icon-arrow-right-smallspace {
    &::before {
      content: '\e641';
    }
  }

  .icon-dragonair {
    &::before {
      content: '\e642';
    }
  }

  .icon-flight-hotel {
    &::before {
      content: '\e643';
    }
  }

  .icon-flight-hotel-contrary {
    &::before {
      content: '\e644';
    }
  }

  .icon-hotel {
    &::before {
      content: '\e645';
    }
  }

  .icon-hotel-contrary {
    &::before {
      content: '\e646';
    }
  }

  .icon-best-value-guarantee {
    &::before {
      content: '\e647';
    }
  }

  .icon-flight-hotel-horizontal {
    &::before {
      content: '\e648';
    }
  }

  .icon-flight-hotel-horizontal-contrary {
    &::before {
      content: '\e649';
    }
  }

  .icon-close {
    &::before {
      content: '\e64a';
    }
  }

  .icon-location {
    &::before {
      content: '\e64b';
    }
  }

  .icon-google-plusone-share-contrary {
    &::before {
      content: '\e64c';
    }
  }

  .icon-twitter-contrary {
    &::before {
      content: '\e64d';
    }
  }

  .icon-facebook-contrary {
    &::before {
      content: '\e64e';
    }
  }

  .icon-pinterest-contrary {
    &::before {
      content: '\e64f';
    }
  }

  .icon-youtube-contrary {
    &::before {
      content: '\e650';
    }
  }

  .icon-linkedin-contrary {
    &::before {
      content: '\e651';
    }
  }

  .icon-print-contrary {
    &::before {
      content: '\e652';
    }
  }

  .icon-email-contrary {
    &::before {
      content: '\e653';
    }
  }

  .icon-douban-contrary {
    &::before {
      content: '\e654';
    }
  }

  .icon-sinaweibo-contrary {
    &::before {
      content: '\e655';
    }
  }

  .icon-airport {
    &::before {
      content: '\e656';
    }
  }

  .icon-airport-round {
    &::before {
      content: '\e657';
    }
  }

  .icon-airport-contrary {
    &::before {
      content: '\e658';
    }
  }

  .icon-highlight {
    &::before {
      content: '\e659';
    }
  }

  .icon-highlight-round {
    &::before {
      content: '\e65a';
    }
  }

  .icon-highlight-contrary {
    &::before {
      content: '\e65b';
    }
  }

  .icon-number-1-round {
    &::before {
      content: '\e65c';
    }
  }

  .icon-number-2-round {
    &::before {
      content: '\e65d';
    }
  }

  .icon-number-3-round {
    &::before {
      content: '\e65e';
    }
  }

  .icon-sign-in {
    &::before {
      content: '\e65f';
    }
  }

  .icon-sign-out {
    &::before {
      content: '\e660';
    }
  }

  .icon-number-4-round {
    &::before {
      content: '\e661';
    }
  }

  .icon-number-5-round {
    &::before {
      content: '\e662';
    }
  }

  .icon-number-6-round {
    &::before {
      content: '\e663';
    }
  }

  .icon-number-7-round {
    &::before {
      content: '\e664';
    }
  }

  .icon-number-8-round {
    &::before {
      content: '\e665';
    }
  }

  .icon-number-9-round {
    &::before {
      content: '\e666';
    }
  }

  .icon-phone-round {
    &::before {
      content: '\e667';
    }
  }

  .icon-mail-round {
    &::before {
      content: '\e668';
    }
  }

  .icon-down-round {
    &::before {
      content: '\e66b';
    }
  }

  .icon-first-baggage {
    &::before {
      content: '\e66d';
    }
  }

  .icon-separator {
    &::before {
      content: '\e66e';
    }
  }

  .icon-manage-booking {
    &::before {
      content: '\e669';
    }
  }

  .icon-manage-booking-round {
    &::before {
      content: '\e66a';
    }
  }

  .icon-manage-booking-contrary {
    &::before {
      content: '\e66c';
    }
  }

  .icon-food {
    &::before {
      content: '\e66f';
    }
  }

  .icon-connection {
    &::before {
      content: '\e670';
    }
  }

  .icon-round-expand { @extend %icon-round-expand; }

  .icon-information-contrary { @extend %icon-information-contrary; }

  // .icon-rotate-screen { @extend %icon-rotate-screen; }

  .icon-pause { @extend %icon-pause; }

  .icon-play { @extend %icon-play; }

  .icon-skip-back { @extend %icon-skip-back; }

  .icon-skip-forward { @extend %icon-skip-forward; }
  .icon-trailer { @extend %icon-trailer; }
  .icon-train { @extend %icon-train; }
  .icon-wechat { @extend %icon-wechat; }
  .icon-back-to-top { @extend %icon-back-to-top; }
  .icon-newpage { @extend %icon-newpage; }
  .icon-grid { @extend %icon-grid; }
  .icon-list { @extend %icon-list; }

  h5 {
    .icon-newpage { font-size: 1rem; }
  }
  .ui-connector { @extend %ui-connector; }

  .icon-login-profile { @extend %icon-login-profile; }
  .icon-back-circle { @extend %icon-back-circle; }

  .icon-lock { @extend %icon-lock; }

  .icon-sme { @extend %icon-sme; }
  .icon-more { @extend %icon-more; @extend %icon-sme; }
  .icon-sme-close { @extend %icon-sme-close; }
  .icon-sme-globe { @extend %icon-sme-globe; }
  .icon-sme-ta { @extend %icon-sme-ta; }
  .icon-sme-tap { @extend %icon-sme-tap; }
  .icon-sme-agency-alert { @extend %icon-sme-agency-alert; }
  .icon-sme-close-border { @extend %icon-sme-close-border; }
  .icon-sme-icon-globle { @extend %icon-sme-icon-globle; }
  
  .icon-sorting { @extend %icon-sme; position: relative; vertical-align: middle; height: px2rem(19); margin-left: px2rem(10); font-size: px2rem(11);

    &::before, &::after { width: 0; height: 0; visibility: visible; overflow: visible; position: absolute; }

    &::before { content: '\e801'; top: px2rem(2);
    } // ascending

    &::after { content: '\e802'; bottom: px2rem(9);
    } // descending

    &.ascending {
      &::before { @include transform(translate(0, -50%)); top: 35%; }
      &::after { display: none; }
    } // ascending

    &.descending {
      &::before { display: none; }
      &::after { @include transform(translate(0, -50%)); top: 35%; bottom: auto; }
    } // descending
  }

  .icon-indicator { @include border-radius(50%); width: px2rem(8); height: px2rem(8); display: inline-block; }
  .indicator-connected { background-color: $cx-green; }
  .indicator-notconnected { background-color: $cx-red; }

  .icon-upload {
    &::before {
      font-family: 'icon-sme';
      content: '\e800';
      font-size: 1rem;
      color: $cx-white;
    }
  }

}


.firefox {
  .icon-more {
    &::before { top: 0; }
  }
}
