@import 'common';
@import 'css3';
@import 'variables';

%icon {
  &::before, &::after {
    font-family: 'cx-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    // Better Font Rendering
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
  }
}

%ibe-icon {
  &::before, &::after {
    font-family: 'ibe-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    // Better Font Rendering
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
  }
}

%icon-sme {
  &::before, &::after {
    font-family: 'icon-sme';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
  }
}

%icon-more { position: relative; width: px2rem(20); display: inline-block; height: px2rem(20); color: $cx-grey-dark;

  &::before { height: 0; font-size: 1rem;
    content: '\e800';
    position: absolute; left: 0; top: 20%;
  }

  &.active { color: $cx-blue-link;}
}

%icon-sme-close {
  &::before { content: '\e900'; }
}

%icon-sme-globe {
  &::before { content: '\e901'; }
}

%icon-sme-ta {
  &::before { content: '\e903'; }
}

%icon-sme-tap {
  &::before { content: '\e902'; }
}

%icon-sme-agency-alert {
  &::before { content: '\e904'; }
}

%icon-sme-close-border {
  &::before { content: '\e907'; }
}

%icon-sme-icon-globle {
  &::before { content: '\e908'; }
}

%icon-flight-detail {
  &::before { content: '\e800'; }
}

// original icons
%icon-access-contacts {
  &::before { content: '\e801';}
}

%icon-with-text-before { position: relative; padding-left: px2rem(20);
  &::before { position: absolute; left: 0; top: 0;}
}

%icon-with-text-after { position: relative; padding-right: px2rem(20);
  &::after { position: absolute; right: 0; top: 0;}
}

%icon-depart {
  &::before {
    content: '\e602';
  }
}

%icon-question {
  &::before {
    content: '\e609';
  }
}

%icon-warning {
  &::before {
    content: '\e607';
  }
}

%icon-tick {
  color: $cx-green;

  &::before {
    content: '\e608';
  }
}

%icon-menu {
  &::before {
    content: '\e60c';
  }
}

%icon-arrival {
  &::before {
    content: '\e603';
  }
}

%icon-swish {
  &::before {
    content: '\e601';
  }
}

%icon-arrow-down {
  &::before {
    content: '\e600';
    font-size: .625rem;
  }
}

%icon-arrow-down-after {
  &::after {
    content: '\e600';
    font-size: .625rem;
  }
}

%icon-arrow-up {
  &::before {
    content: '\e604';
    font-size: .625rem;
  }
}

%icon-arrow-up-after {
  &::after {
    content: '\e604';
    font-size: .625rem;
  }
}

%icon-arrow-forward {
  &::after {
    content: '\e605';
  }
}

%icon-arrow-backward {
  &::before {
    content: '\e606';
  }
}

%icon-magnify {
  &::before {
    content: '\e60a';
  }
}

// %icon-calendar {
//   &::before {
//     content: '\e60b';
//   }
// }

%icon-plane {
  &::before {
    content: '\e60d';
  }
}

%icon-plus {
  &::before {
    content: '\e60e';
  }
}

%icon-bed {
  &::before {
    content: '\e60f';
  }
}

%icon-marco-polo {
  &::before {
    content: '\e610';
  }
}

%icon-close-circle {
  &::after {
    content: '\e611';
  }
}

%icon-search-bar-close-circle {
  &::after {
    content: '\e905';
  }
}

%icon-profile {
  &::before {
    content: '\e612';
  }
}

%icon-instagram {
  &::before {
    content: '\e613';
  }
}

%icon-twitter {
  &::before {
    content: '\e614';
  }
}

%icon-facebook {
  &::before {
    content: '\e615';
  }
}

%icon-pinterest {
  &::before {
    content: '\e616';
  }
}

%icon-youtube {
  &::before {
    content: '\e617';
  }
}

%icon-linkedin {
  &::before {
    content: '\e618';
  }
}

%icon-weibo {
  &::before {
    content: '\e619';
  }
}

%icon-renren {
  &::before {
    content: '\e61a';
  }
}

%icon-youku {
  &::before {
    content: '\e61b';
  }
}

%icon-alert {
  &::before {
    content: '\e61c';
  }
}

%icon-flight-contrary {
  &::before {
    content: '\e61d';
  }
}

%icon-settings {
  &::before {
    content: '\e61e';
  }
}

%icon-home-app {
  &::before {
    content: '\e61f';
  }
}

%icon-flight-status {
  &::before {
    content: '\e620';
  }
}

%icon-continue {
  &::before {
    content: '\e621';
  }
}

%icon-tick-round {
  &::before {
    content: '\e622';
  }
}

%icon-down {
  &::before {
    content: '\e623';
  }
}

%icon-up {
  &::before {
    content: '\e624';
  }
}

%icon-expand {
  &::before {
    content: '\e625';
  }
}

%icon-collapse {
  &::before {
    content: '\e626';
  }
}

// %icon-location {
//   &::before {
//     content: '\e627';
//   }
// }

%icon-notifly {
  &::before {
    content: '\e628';
  }
}

%icon-star-rating {
  &::before {
    content: '\e629';
  }
}

%icon-calendar {
  &::before {
    content: '\e62a';
  }
}

%icon-card-flip {
  &::before {
    content: '\e62b';
  }
}

%icon-share {
  &::before {
    content: '\e62c';
  }
}

%icon-expand-contrary {
  &::before {
    content: '\e62d';
  }
}

%icon-close-contrary {
  &::before {
    content: '\e62e';
  }
}

%icon-alert-contrary {
  &::before {
    content: '\e62f';
  }
}

%icon-flight {
  &::before {
    content: '\e630';
  }
}

%icon-settings-contrary {
  &::before {
    content: '\e631';
  }
}

%icon-flight-status-contrary { // clock
  &::before {
    content: '\e632';
  }
}

%icon-continue-contrary {
  &::before {
    content: '\e633';
  }
}

%icon-tick-contrary {
  &::before {
    content: '\e634';
  }
}

%icon-home-contrary {
  &::before {
    content: '\e635';
  }
}

%icon-profile-contrary {
  &::before {
    content: '\e636';
  }
}

%icon-information {
  &::before {
    content: '\e637';
  }
}

%icon-travel-alert {
  &::before {
    content: '\e638';
  }
}

%icon-guides-circle {
  &::before {
    content: '\e639';
  }
}

%icon-guides-contrary {
  &::before {
    content: '\e63a';
  }
}

%icon-travel-alert-contrary {
  &::before {
    content: '\e63b';
  }
}

%icon-globe {
  &::before {
    content: '\e63c';
  }
}

%icon-tooltip-contrary {
  &::before {
    content: '\e63d';
  }
}

%icon-loading {
  &::before {
    content: '\e63e';
  }
}

%icon-guides {
  &::before {
    content: '\e63e';
  }
}

%icon-arrow-left-smallspace {
  &::before {
    content: '\e640';
  }
}

%icon-arrow-right-smallspace {
  &::before {
    content: '\e641';
  }
}

%icon-dragonair {
  &::before {
    content: '\e642';
  }
}

%icon-flight-hotel {
  &::before {
    content: '\e643';
  }
}

%icon-flight-hotel-contrary {
  &::before {
    content: '\e644';
  }
}

%icon-hotel {
  &::before {
    content: '\e645';
  }
}

%icon-hotel-contrary {
  &::before {
    content: '\e646';
  }
}

%icon-best-value-guarantee {
  &::before {
    content: '\e647';
  }
}

%icon-flight-hotel-horizontal {
  &::before {
    content: '\e648';
  }
}

%icon-flight-hotel-horizontal-contrary {
  &::before {
    content: '\e649';
  }
}

%icon-close {
  &::before {
    content: '\e64a';
  }
}

%icon-location {
  &::before {
    content: '\e64b';
  }
}

%icon-google-plusone-share-contrary {
  &::before {
    content: '\e64c';
  }
}

%icon-twitter-contrary {
  &::before {
    content: '\e64d';
  }
}

%icon-facebook-contrary {
  &::before {
    content: '\e64e';
  }
}

%icon-pinterest-contrary {
  &::before {
    content: '\e64f';
  }
}

%icon-youtube-contrary {
  &::before {
    content: '\e650';
  }
}

%icon-linkedin-contrary {
  &::before {
    content: '\e651';
  }
}

%icon-print-contrary {
  &::before {
    content: '\e652';
  }
}

%icon-email-contrary {
  &::before {
    content: '\e653';
  }
}

%icon-douban-contrary {
  &::before {
    content: '\e654';
  }
}

%icon-sinaweibo-contrary {
  &::before {
    content: '\e655';
  }
}

%icon-airport {
  &::before {
    content: '\e656';
  }
}

%icon-airport-round {
  &::before {
    content: '\e657';
  }
}

%icon-airport-contrary {
  &::before {
    content: '\e658';
  }
}

%icon-highlight {
  &::before {
    content: '\e659';
  }
}

%icon-highlight-round {
  &::before {
    content: '\e65a';
  }
}

%icon-highlight-contrary {
  &::before {
    content: '\e65b';
  }
}

%icon-number-1-round {
  &::before {
    content: '\e65c';
  }
}

%icon-number-2-round {
  &::before {
    content: '\e65d';
  }
}

%icon-number-3-round {
  &::before {
    content: '\e65e';
  }
}

%icon-sign-in {
  &::before {
    content: '\e65f';
  }
}

%icon-sign-out {
  &::before {
    content: '\e660';
  }
}

%icon-number-4-round {
  &::before {
    content: '\e661';
  }
}

%icon-number-5-round {
  &::before {
    content: '\e662';
  }
}

%icon-number-6-round {
  &::before {
    content: '\e663';
  }
}

%icon-number-7-round {
  &::before {
    content: '\e664';
  }
}

%icon-number-8-round {
  &::before {
    content: '\e665';
  }
}

%icon-number-9-round {
  &::before {
    content: '\e666';
  }
}

%icon-phone-round {
  &::before {
    content: '\e667';
  }
}

%icon-mail-round {
  &::before {
    content: '\e668';
  }
}

%icon-down-round {
  &::before {
    content: '\e66b';
  }
}

%icon-first-baggage {
  &::before {
    content: '\e66d';
  }
}

%icon-separator {
  &::before {
    content: '\e66e';
  }
}

%icon-manage-booking {
  &::before {
    content: '\e669';
  }
}

%icon-manage-booking-round {
  &::before {
    content: '\e66a';
  }
}

%icon-manage-booking-contrary {
  &::before {
    content: '\e66c';
  }
}

%icon-food {
  &::before {
    content: '\e66f';
  }
}

%icon-connection {
  &::before {
    content: '\e670';
  }
}

%icon-round-expand {
  &::before {
    content: '\e671';
  }
}

%icon-information-contrary {
  &::before {
    content: '\e672';
  }
}

// %icon-rotate-screen {

//   .path1 {
//     &::before {
//       content: '\e673';
//       color: $cx-grey-warm;
//     }
//   }

//   .path2 {
//     &::before {
//       content: '\e674';
//       color: $cx-grey-warm;
//       margin-left: -.9697265625em;
//     }
//   }

//   .path3 {
//     &::before {
//       content: '\e675';
//       color: $cx-black;
//       margin-left: -1.05em;
//     }
//   }

// }

%icon-pause {
  &::before {
    content: '\e676';
  }
}

%icon-play {
  &::before {
    content: '\e677';
  }
}

%icon-skip-back {
  &::before {
    content: '\e678';
  }
}

%icon-skip-forward {
  &::before {
    content: '\e679';
  }
}

%icon-trailer {
  &::before {
    content: '\e800';
  }
}

%icon-train {
  &::before {
    content: '\e900';
  }
}

%icon-wechat {
  &::before {
    content: '\e901';
  }
}

%icon-back-to-top {
  &::before {
    content: '\e902';
  }
}

%icon-newpage { font-size: .8em; margin-left: px2rem(5);

  &::before {
    content: '\e903';
  }
}

%icon-grid {
  &::before {
    content: '\e1001';
  }
}


%icon-list {
  &::before {
    content: '\e1002';
  }
}


%ui-connector {
  &::before { position: absolute; bottom: -3px; border: 4px solid $cx-grey-dark; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; content: ''; display: block; height: 0; width: 0; z-index: 3;
  }
}


// from ibe
// .icon-seat:before {
//   content: '\e71d';
// }

// .icon-baggage:before {
//   content: '\e708';
// }

// .icon-meal:before {
//   content: '\e70f';
// }

// .icon-transitman:before {
//   content: '\e71e';
// }

// .icon-plane-reverse:before {
//   content: '\e723';
// }

// .icon-flight-contrary-reverse:before {
//   content: '\e724';
// }

%icon-login-profile {
  &::before {
    content: '\e717';
  }
}

%icon-back-circle {
  &::before {
    content: '\e707';
  }
}

// .icon-login-profile-signin:before {
//   content: '\e71b';
// }

// .icon-login-profile-signout:before {
//   content: '\e718';
// }

%icon-login-profile-signin-circle {
  &::before {
    content: '\e71a';
  }
}

// .icon-login-profile-signin-contrary:before {
//   content: '\e719';
// }

// .icon-wc:before {
//   content: '\e729';
// }

// .icon-wc-disable:before {
//   content: '\e72b';
// }

// .icon-baby-bassinet:before {
//   content: '\e706';
// }

// .icon-lowest-fare:before {
//   content: '\e70c';
// }

// .icon-galley:before {
//   content: '\e711';
// }

// .icon-highfare:before {
//   content: '\e70d';
// }

// .icon-lowfare:before {
//   content: '\e70e';
// }

// .icon-galley-box:before {
//   content: '\e710';
// }

// .icon-wc-box:before {
//   content: '\e72a';
// }

// .icon-wc-disable-box:before {
//   content: '\e72c';
// }

// .icon-plane-cancel-circle-outline:before {
//   content: '\e721';
// }

// .icon-cross-circle-outline:before {
//   content: '\e70b';
// }

// .icon-baggage-circle-outline:before {
//   content: '\e709';
// }

// .icon-globe2:before {
//   content: '\e712';
// }

// .icon-umbrella-circle-outline:before {
//   content: '\e728';
// }

// .icon-phone-circle-outline:before {
//   content: '\e71f';
// }

// .icon-info-circle:before {
//   content: '\e714';
// }

// .icon-info:before {
//   content: '\e713';
// }

// .icon-error:before {
//   content: '\e700';
// }

// .icon-plane-arrive:before {
//   content: '\e720';
// }

// .icon-plane-depart:before {
//   content: '\e722';
// }

// .icon-duration:before {
//   content: '\e725';
// }

// .icon-service:before {
//   content: '\e72e';
// }

// .icon-cross:before {
//   content: '\e70a';
// }

// .icon-ferry:before {
//   content: '\e727';
// }

// .icon-back-circle:before {
//   content: '\e707';
// }

// .icon-down-arrow:before{
//   content: '\e705';
// }

%icon-lock {
  &::before {
    content: '\e716';
    color: $cx-gold;
  }
}

// .icon-train:before {
//   content: '\e726';
// }

// .icon-webchat:before {
//   content: '\e72d';
// }

// .icon-amlIcon:before {
//   content: '\e703';
// }

// .icon-amlWording:before {
//   content: '\e704';
// }

// .icon-mpoWording:before {
//   content: '\e71c';
// }

// .icon-baggage-double:before {
//   content: '\e730';
// }

// .icon-bus:before {
//   content: '\e731';
// }

// .icon-passport:before {
//   content: '\e733';
// }

// .icon-seat-select:before {
//   content: '\e734';
// }

// .icon-plane-time-circle-outline:before {
//   content: '\e735';  
// }

// .icon-plane-go:before {
//   content: '\e736';
// }

// .icon-special-assistance:before {
//     content: '\e737';
// }

// .icon-stairs-up:before {
//     content: '\e738';
// }

// .icon-stairs-down:before {
//     content: '\e739';
// }  





















































