@import 'variables';

@mixin list-reset {
  padding: 0;
  margin: 0;

  li { list-style: none; margin: 0; padding: 0;
    &::before { display: none; }
  }
}

@mixin break-text-size-limit {
  body { -webkit-text-size-adjust: none; }
}

@mixin global-reset {
  .cx-agent {
    article, aside, details, figcaption, figure, footer, header, nav, section { display: block; }
    audio, canvas, video { display: inline-block; }

    audio {
      &:not([controls]) { display: none; }
    }

    [hidden] { display: none; }

    html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    body { margin: 0; padding: 0; line-height: 1em; min-height: 100%; }
    body, button, input, select, textarea { color: $cx-grey-dark; }
    * { background-repeat: no-repeat; background-position: 0 0; }
    li { text-decoration: none; list-style-type: none; }

    ::-moz-selection { background: $cx-green; color: $cx-white; text-shadow: none; }
    ::selection { background: $cx-green; color: $cx-white; text-shadow: none; }

    abbr {
      &[title] { border-bottom: 1px dotted; }
    }
    blockquote { margin: 1em 40px; }
    hr { display: block; height: 0; border: 0; border-top: 1px solid $cx-grey-warm; margin: 1em 0; padding: 0; }
    small { font-size: 85%; }
    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -.5em; }
    sub { bottom: -.25em; }
    ul, ol { margin: 0; padding: 0; }
    dd { margin: 0 0 0 40px; }

    nav {
      ul, ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
    }

    img {
      border: 0;
      -ms-interpolation-mode: bicubic; // sass-lint:disable-line no-misspelled-properties
      vertical-align: middle;
    }

    svg {
      &:not(:root) { overflow: hidden; }
    }

    figure { margin: 0; }
    form { margin: 0; }
    fieldset { border: 0; margin: 0; padding: 0; }
    label { cursor: pointer; }
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }

    button { cursor: pointer; -webkit-appearance: button; line-height: normal;
      &::-moz-focus-inner { border: 0; padding: 0; }
    }

    input { line-height: normal;

      &::-moz-focus-inner { border: 0; padding: 0; }

      &[type='search'] { -webkit-appearance: textfield;
        &::-webkit-search-decoration { -webkit-appearance: none; }
      }

      &[type='button'], &[type='reset'], &[type='submit'] { cursor: pointer; -webkit-appearance: button; }
      &[type='checkbox'], &[type='radio'] { box-sizing: border-box; }

      &:invalid { background-color: $cx-white; box-shadow: none; }
    }

    textarea { overflow: auto; vertical-align: top; resize: vertical;
      &:invalid { background-color: $cx-white; box-shadow: none; }
    }

    table { border-collapse: collapse; border-spacing: 0; }
    th { font-weight: normal; }
    td { vertical-align: top; }

    a { text-decoration: none; color: inherit; }

    input, textarea { -webkit-tap-highlight-color: transparent; }

    @include break-text-size-limit;
  }

}

@mixin angular-reset {
  .ng-pristine {
    .ng-invalid-required {
      box-shadow: none;
    }
  }
}
