@import 'variables';
@import 'common';

@mixin breakpoint($min-width: -1, $max-width: -1) {

  $media-queries: 'only screen';

  @if $min-width != -1 {
    $media-queries: $media-queries + ' and (min-width:' + unquote('#{$min-width}') ')';
  }

  @if $max-width != -1 {
    $media-queries: $media-queries + ' and (max-width:' + unquote('#{$max-width}') ')';
  }

  //@debug #{$media_queries};

  @media #{$media-queries} { @content; }
}

// responsive
@mixin screen($size) {
  $_size: strip-units($size - 1) / $base-font-size-value;

  @if unitless($_size) {
    $_size: $_size + unquote('#{em}');
  }

  @media only screen and (max-width: $_size ) { @content; }

}
